@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}

<div class="sixteen columns">
    <div class="page-title">
        <h1>About Us</h1>
    </div>
</div>

<div class="twelve columns" id="pContent">

    <section id="page-content" class="clearfix">
        <!-- inner grid 720 pixels wide -->

        <div class="twelve columns">

            <h2>Who We Are</h2>
            <p class="middle-font-size margin-bottom-30px">
                We are a leading provider of bookkeeping, payroll, and QuickBooks services for the childcare industry. Our bookkeepers are Certified Public Bookkeepers (CPB) certified by the National Association of Certified Public 
            Bookkeepers. Based in Weatherford, TX,  we perform public bookkeeping and payroll services to childcare centers to help them manage their businesses more effectively.
            </p>
            <p class="middle-font-size margin-bottom-30px">  We are members of the <a href="http://www.nacpb.org/">National Association of Certified Public Bookkeepers</a> (NACPB).  NACPB protects the public interest by helping to ensure that only qualified individuals provide public bookkeeping services and 
                assures the public that members are trusted and competent bookkeepers.
            </p>

        </div>

    </section>

</div>
