@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}

<div class="sixteen columns">
    <div class="page-title">
        <h1>Walden Payroll and Bookeeping for the childcare industry</h1>
    </div>
</div>

<div class="four columns" id="iBoard" data-smallscreen="no">
    <!-- show info board on a small-screen mobile device: "yes" or "no" -->

    <!-- Info Text -->
    <div class="five columns alpha omega">
        <aside id="info-board" class="colored" data-smallscreen="yes">
            <h2 class="tall">Welcome to Walden Payroll and Bookkeeping!<br />
                <br />
                I provide cost-effective bookkeeping and payroll solutions for the childcare industry.</h2>
        </aside>
    </div>

</div>

<div class="twelve columns" id="pContent">

    <section id="page-content" class="clearfix">
        <!-- inner grid 720 pixels wide -->

        <div class="twelve columns margin-bottom-35px">

            <p class="middle-font-size">
                I help daycare owners succeed by helping them obtain timely, relevant, and reliable financial information. This information enables owners to make more informed decisions, increase their profit and cash flow, decrease their tax liabilities, and obtain financing.
            </p>

            <p class="middle-font-size">
                Because I focus only on childcare bookkeeping I am able to keep costs low and provide a level of expertise that no other bookkeeping or accounting firm can match. 
            </p>

            <div class="small-bar colored"></div>

            <!-- Info Box -->
            <div class="info-box image-right adapted width-250px">
                <ul class="square-list margin-bottom-10px">
                    <li>Low cost</li>
                    <li>Knowledge</li>
                    <li>Time Savings</li>
                </ul>
            </div>

            <h4>Why Choose Us</h4>
            <p class="margin-bottom-25px">Our approach is simple.  We don’t want to be a bookkeeping service to any and all businesses.  We want to be the best bookkeeping service to the childcare industry.</p>
        </div>
        <!-- end twelve columns -->
        <section class="features-picture-type clearfix margin-bottom-30px">

            <div class="row">

                <div class="six columns">
                    <article>
                        <div>
                            <h5>Cost</h5>
                            <p>We save you money by specializing in one industry, childcare.  Because we do not service many different industries we are very efficient at processing payroll and bookkeeping.</p>
                         </div>
                    </article>
                </div>

                <div class="six columns">
                    <article>
                       <div>
                            <h5>Knowledge</h5>
                            <p>We understand the childcare industry.  Odds are your current accountant or bookkeeper only has one childcare center as a client and that client is you.  Have you ever wondered how your center
                               compares financially to others?  Have you ever wondered what your center is worth?  Because we only focus on childcare centers we can help you get a better understanding of these things.</p>
                            
                        </div>
                    </article>
                </div>
           </div>

            <div class="row">

                <div class="six columns">
                    <article>
                        <div>
                            <h5>Time Savings</h5>
                            <p>Most childcare centers were started because of the owner’s ability to take care of children, not their ability to manage a business and take care of office work.  Our goal is to give the owner freedom
                                from the office and get back to taking care of the children, parents and teachers.</p>
                         </div>
                    </article>
                </div>

                @*<div class="six columns">
                    <article>
                       <div>
                            <h5>Unique Services</h5>
                            <p>We understand the childcare industry.  Odds are your current accountant or bookkeeper only has one childcare center as a client and that client is you.  Have you ever wondered how your center
                               compares financially to others?  Have you ever wondered what your center is worth?  Because we only focus on childcare centers we can help you get a better understanding of these things.</p>
                            
                        </div>
                    </article>
                </div>*@



            </div>

        </section>


        <h4>Why Choose a Bookkeeper Instead of an Accountant</h4>
        <p>Choosing an accounting firm to do your bookkeeping is like choosing a doctor to take your blood pressure.  Normally a nurse will be the one to take your blood pressure.  The nurse is highly trained and competent to do the job, but is much less expensive than having a doctor take your blood pressure.  The same is true with bookkeepers and accountants.  Accountants can do the same job as a bookkeeper, but they are much more expensive.  Also, accountants view your business from a tax perspective.  Bookkeepers are more concerned with how your business is performing from a profit and management point of view.</p>



        <div class="twelve columns">

            <div class="divider-pattern colored margin-bottom-30px"></div>


            <!-- Info Box -->
            <div class="info-box">
                <h3 class="align-center">Interested in working with us?</h3>
                <p>&nbsp;</p>
                <div class="align-center margin-bottom-5px"><a href="@Url.Action("Contact", "Home")" class="button">Get in touch!</a></div>
            </div>

        </div>
        <!-- end twelve columns -->

    </section>
    <!-- end inner grid -->

</div>
