<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EfficientlyLazy.Crypto" version="0.9.2" targetFramework="net45" />
  <package id="FluentValidation" version="4.0.0.0" targetFramework="net45" />
  <package id="FluentValidation.MVC4" version="4.0.0.0" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
  <package id="Sendgrid" version="1.1.1" targetFramework="net45" />
</packages>