@{
   
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}


    <h2 class="heading">@ViewBag.Title</h2>






    <div id="message"></div>
    <p>Give us the email address you used when you created your account.  We'll send you an email with a link where you can reset your password.</p>

    @using (Html.BeginForm())
    {
        <div class="control-group">
            <div class="controls">
                <label for="emailAddress">Enter your email address</label>
                <input type="email" required name="emailAddress" />

            </div>
        </div>
    
        <button type="submit" class="btn">Submit</button>
   
    }



@section scripts{
    <script>
        $(function () {
            new ForgotPassword();
        });

    </script>
}