@model Daycareinator.Data.Entities.User

@{
    ViewBag.Title = "Invalid Link";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}

<h2>Invalid Link</h2>
<p>This link has expired or is not valid.</p>
