<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DaycareinatorContext" connectionString="Data Source=tcp:mssql3.cloudsites.gearhost.com;Initial Catalog=waldencpb;User ID=waldencpb;Pwd=pKomGjM1;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SmtpHost" value="mail.waldenbookkeeping.com" />
    <add key="SmtpPort" value="25" />
    <add key="EmailFromAddress" value="support@waldenbookkeeping.com" />
    <add key="ContactFormToAddress" value="don@littletexasstars.com"/>
    <add key="BaseUrl" value="https://www.waldenbookkeeping.com" />
    <add key="ContactPhone" value="817-901-4004" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="chad.yeates@gmail.com" />
    <add key="elmah.mvc.route" value="elmah" />
    
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="52E249527EBBD9BA6B1A66F85C19779E089F079C8048A69C246EBC98BBBA7610A753EB2686310E9F494BE937B0C5E44D3C3B3816741F2A2162F06770DCBACF28" decryptionKey="E1553DD9FF7D8019AF410F86BFFDF2FF8B02F1ACF285D1A373C1E2F243419DF8" validation="SHA1" decryption="AES" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>