<div class="widget-body ajax-loading" data-bind="visible: false">
    <div class="row-fluid">
        <div class="span12 pagination-centered">
            Loading...
        </div>
    </div>

</div>
